/* Home Page */
.home-user-container{
    background-color:black;
    text-align:center;
    height:250px;
}
.home-user-username{
    font-size:2vw;
    color:white;
}
.home-new-post-button-container{
    height:100px;
    background-color:black;
    text-align:center;
}
.home-new-post-container{
    height:150px;
    width:100%;
    background-color:black;
}
.home-new-post-input-box{
    height:100%;
    margin:auto;
    width:60%;
    text-align:center;
    background-color:#444040;
}
.home-list-post{
    background-color:black;;
    height:100%;
}

/* Message List */
.message-body{
    background-color:#626161f2;
}
a#new-message-btn{
    background-color:rgb(136 169 237 / 67%);;
    float:right;
    text-decoration:none;
    font-size:medium;
}
.message-container{
    overflow:hidden;
    width:50%;
    min-height:100%;
    border:solid #9b9cdb 10px;
    margin:auto;
}
.message-box-link-box{
    display:block;
    margin:auto;
    width:60%;
    height:120px;
    position:relative;
    margin-top:10px;
    border:solid white 1px;
    text-decoration: none;
}
.message-box-pic{
    position: absolute;
    top:15%;
    left:5%;
}
.message-box-username{
    position: absolute;
    font-size:1.6vw;
    top:70%;
    left:7%;
    color:black;
}
.message-box-timestamp{
    font-size:1.6vw;
    position: absolute;
    top:5%;
    left:75%;
    color:white;
}
.message-box-subject{
    font-size:2.2vw;
    position: absolute;
    top:20%;
    left:46%;
    color:#99d9ff;
}
.message-box-latest-message{
    position: absolute;
    top:50%;
    left:40%;
    font-size:1.7vw;
    color:white;
}
/* Read Message */
.read-message-subject{
    color:white;
    text-align:center;
}
.read-message-container{
    width:80%;
    margin:auto;
}
.read-message-box{
    width:90%;
    margin:auto;
    overflow:hidden;
    text-align:center;
}
.read-message-box-left-user{
    font-size:14px;
    border:1px #f30f0fd9 solid;
    float:left;
    color:#f30f0fd9;
}
.read-message-box-left-message{
    font-size:20px;
    border-radius:8px;
    width:20%;
    float:left;
    background-color:#505050;
}
.read-message-box-right-user{
    font-size:14px;
    border:1px #edf012 solid;
    float:right; 
    color:#edf012;
}
.read-message-box-right-message{
    font-size:20px;
    border-radius:8px;
    width:20%;
    float:right;
    background-color:#2d6fbb;
}
.read-message-span{
    color:white;
    word-wrap:break-word;
}
